/*重置样式*/
body,h1,h2,h3,h4,h5,h6{
    margin: 0;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
/*父元素内整体浮动的元素无法撑开父元素，需要清除浮动:clearfix*/
.clearfix:after,.clearfix:before{
    content: "";
    display: table;
}
.clearfix:after{
    clear: both;
}
.clearfix{
    zoom: 1;
}
