/*通过 :root 伪类定义全局css变量*/
:root{
    --绿色: #518e17;
    --白色: #fff;
}
body{
    font-size: 12px;
    color: #666;
}
.login_top{
    width: 960px;
    height: 130px;
    margin: 0 auto;
}
.login_logo{
    margin-top: 30px;
    width: 193px;
    height: 76px;
    display: block;
}
.login_form_wrap{
    width: 960px;
    height: 480px;
    margin: 0 auto;
}
.login_form_bg{
    height: 480px;
    background-color: var(--绿色);
}
.login_banner{
    margin-top: 90px;
    width: 381px;
    height: 322px;
    background: url(../images/login_banner.png) no-repeat;
}
.slogan{
    color: #fff;
    width: 40px;
    height: 300px;
    font-size: 30px;
    text-align: center;
    margin: 80px 0 0 120px;
    line-height: 36px;
}
.login_form{
    width: 368px;
    height: 378px;
    background-color: var(--白色);
    border: 1px solid #c6c6c5;
    margin-top: 50px;
}
.login_title{
    margin: 10px auto;
    width: 308px;
    height: 60px;
    border-bottom: 1px solid #e0e0e0;
}
.login_title h1{
    height: 60px;
    color: #a8a8a8;
    font: bold 24px/60px 'Microsoft Yahei';
    margin-left: 44px;
    float: left;
}
.login_title a{
    width: 100px;
    height: 20px;
    margin: 20px 0 0 36px;
    background: url(../images/icons02.png)left 5px no-repeat;
    float: left;
    text-indent: 26px;
    color: #5fb42a;
    font-size: 16px;
}
.form_input{
    width: 308px;
    height: 250px;
    margin: 20px auto;
    position: relative;
}
.name_input,.pwd_input{
    border: 1px solid #e0e0e0;
    width: 306px;
    height: 36px;
    background: #f8f8f8 url(../images/icons02.png)280px -41px no-repeat;
    outline: none;
    text-indent: 10px;
    font-size: 14px;
    position: absolute;
    left: 0;
    top: 0;
}
.pwd_input{
    background-position: 280px -93px;
    top: 65px;
}
.user_error,.pwd_error,.check_error{
    color: #f00;
    position: absolute;
    top: 43px;
    left: 0;
    display: none;
}
.pwd_error{
    top: 110px;
}
.more_input{
    width: 308px;
    height: 16px;
    position: absolute;
    top: 130px;
}
.more_input input{
    float: left;
    margin-top: 2px;
}
.more_input label{
    margin-left: 10px;
    float: left;
}
.more_input a{
    float: right;
    color: #666;
}
.more_input a:hover{
    color: #f80;
}
.check_error{
    top: 20px;
}
.input_submit{
    width: 100%;
    height: 40px;
    position: absolute;
    top: 180px;
    background-color: #47aa34;
    border: 0;
    color: #fff;
    font: 22px/40px 'Microsoft Yahei';
    letter-spacing: 5px;
    cursor: pointer;
    outline: none;
}