body{
    font-size: 12px;
    color: #666;
}
/*顶部状态栏*/
.header_con{
    height: 29px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ddd;
}
.header{
    width: 1200px;
    height: 29px;
    margin: 0 auto;
}
.login_info{
    /*元素隐藏且不占位置*/
    display: none;
}
.login_info em{
    color: #f80;
}
.login_btn,.user_link,.welcome,.login_info{
    line-height: 29px;
    height: 29px;
}
.login_btn a,.user_link a{
    color: #666;
}
.login_btn span,.user_link span{
    margin: 0 10px;
    color: #cecece;
}
.login_btn a:hover,.user_link a:hover{
    color: #f80;
}
/*logo及搜索框、购物车*/
.search_bar{
    width: 1200px;
    height: 115px;
    margin: 0 auto;
}
.logo{
    width: 150px;
    height: 59px;
    margin: 29px 0 0 17px;
}
.search_con{
    width: 616px;
    height: 38px;
    border: 1px solid #37ab40;
    margin: 34px 0 0 124px;
    background: url(../images/icons.png)10px -338px no-repeat;
}
.search_con .input_txt{
    width: 470px;
    height: 34px;
    border: 0;
    outline: none;
    margin: 2px 0 0 36px;
}
.search_con .search_btn{
    width: 100px;
    height: 38px;
    background-color: #37ab40;
    border: 0;
    color: #fff;
    outline: none;
    cursor: pointer;
    font: 14px/38px 'Microsoft Yahei';
}
.search_bar .guest_cart{
    width: 200px;
    height: 40px;
    margin-top: 34px;
}
.guest_cart .cart_name{
    border: 1px solid #ddd;
    display: block;
    font-size: 14px;
    color: #37ab40;
    text-indent: 55px;
    background: #f7f7f7 url(../images/icons.png)10px -300px no-repeat;
    line-height: 38px;
    width: 158px;
    height: 38px;
}
.guest_cart .cart_name:hover{
	opacity: 0.8;
	color: #f80;
}
.guest_cart .goods_count{
    width: 40px;
    height: 40px;
    background-color: #f80;
    color: #fff;
    font: bold 18px/40px 'Microsoft Yahei';
    text-align: center;
}
.navbar_con{
    height: 40px;
    border-bottom: 2px solid #37ab40;

}
.navbar_con .navbar{
    width: 1200px;
    margin: 0 auto;
}
.navbar h1{
    width: 200px;
    height: 40px;
    color: #fff;
    font: 14px/40px 'Microsoft Yahei';
    text-align: center;
    background-color: #37ab40;
}
.navbar .navlist{
    margin-left: 34px;
}
.navlist li{
    float: left;
    line-height: 40px;
    height: 40px;
}
.navlist li span{
    margin: 0 15px;
}
.navlist li a{
    font-size: 14px;
    color: #666;
}
.navlist li a:hover{
    color: #f80;
}
.center_con{
    width: 1200px;
    height: 270px;
    margin: 0 auto;
}
.center_con .subnav{
    width: 198px;
    height: 270px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}
.center_con .subnav li{
    height: 44px;
    border-bottom: 1px solid #eee;
    background: url(../images/icons.png) 178px -257px no-repeat #fff;
}
.center_con .subnav a{
    display: block;
    height: 44px;
    line-height: 44px;
    color: #333;
    text-indent: 71px;
    font-size: 14px;
}
.center_con .subnav a:hover{
    color: #f80;
}
.center_con .subnav .fruit{
    background: url(../images/icons.png) 28px 0 no-repeat;
}
.center_con .subnav .seafood{
    background: url(../images/icons.png) 28px -43px no-repeat;
}
.center_con .subnav .meet{
    background: url(../images/icons.png) 28px -86px no-repeat;
}
.center_con .subnav .egg{
    background: url(../images/icons.png) 28px -134px no-repeat;
}
.center_con .subnav .vegetables{
    background: url(../images/icons.png) 28px -175px no-repeat;
}
.center_con .subnav .ice{
    background: url(../images/icons.png) 28px -221px no-repeat;
}
.center_con .slide{
    width: 760px;
    height: 270px;
    position: relative;
    overflow: hidden;
}
.center_con .slide .prev{
    background: url(../images/icons.png)left -388px no-repeat;
    left: 10px;
}
.center_con .slide .next{
    background: url(../images/icons.png)left -427px no-repeat;
    right: 10px;
}
.slide .next,.slide .prev{
    position: absolute;
    width: 17px;
    height: 25px;
    top:125px;
    cursor: pointer;
}
.slide .slide_pics li{
    width: 760px;
    height: 270px;
    /*position: absolute;*/
}
.slide .slide_pics{
    width: 760px;
    height: 270px;
    left: 0;
    top: 0;
    position: relative;
}
.slide .points{
    width: 100%;
    height: 11px;
    position: absolute;
    text-align: center;
    top: 250px;
	/*有间隙需要去掉*/
	font-size: 0;
}
.slide .points li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: #9f9f9f;
    cursor: pointer;
    margin: 0 5px;
}
.slide .points .active{
    background-color: #f80;
}
.center_con .adv{
    width: 240px;
    height: 270px;
}
.center_con .adv a{
    float: left;
    width: 240px;
    height: 135px;
}
/*解决部分浏览器图片下方出现3像素空白的bug*/
.adv a img{
    display: block;
}
.center_con .adv a:hover{
    opacity: 0.8;
}
/*商品列表处*/
.list_model{
    width: 1200px;
    height: 340px;
    margin: 15px auto 0;
}
.list_model .list_title{
    height: 38px;
    border-bottom: 2px solid #37ab40;
}
.list_title h3{
    color: #37ab40;
    height: 38px;
    font: bold 16px/38px 'Microsoft Yahei';
}
.list_title .subtitle{
    height: 20px;
    line-height: 20px;
    margin-top: 15px;
}
.subtitle span{
    color: #666;
    margin: 0 10px 0 20px;
}
.subtitle a{
    margin: 0 5px;
    color: #666;
}
.subtitle a:hover,.list_title .goods_more:hover{
    color: #f80;
}
.goods_more{
    height: 20px;
    margin-top: 15px;
    color: #666;
}
.goods_con{
    height: 300px;
}
.goods_con .goods_banner{
    width: 200px;
    height: 300px;
}
.goods_list{
    width: 1000px;
    height: 300px;
    border-bottom: 1px solid #ededed;
}
.goods_list li{
    width: 249px;
    height: 299px;
    border-right: 1px solid #ededed;
    float: left;
}
.goods_list h4{
    width: 200px;
    height: 50px;
    text-align: center;
    margin: 20px auto 0;
}
.goods_list h4 a{
    color: #666;
    font-size: 15px;
}
.goods_list h4 a:hover{
    color: #f80;
}
.goods_list li img{
    width: 180px;
    height: 180px;
    display: block;
    margin: 0 auto;
}
.goods_list .prize{
    text-align: center;
    font-size: 20px;
    color: #c40000;
    margin-top: 5px;
}
.goods_list li:hover{
    width: 248px;
    height: 299px;
    border: 1px solid #f80;
}
.goods_list li:hover img{
    opacity: 0.8;
}



