.main_wrap{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #c5c5c0;
}

.header{
    height: 2.5rem;
    background-color: #37ab40;
    position: relative;
}
.header .logo{
     display: block;
     width: 4.45rem;
     height: 1.8rem;
     margin: 0.35rem auto 0;
}
.header .logo img{
    width: 100%;
}
.header .search{
    position: absolute;
    width: 1.35rem;
    height: 1.35rem;
     right: 0.75rem;
     top: 0.6rem;
     background: url("../images/icons.png") left top no-repeat;
     background-size: 3rem 42rem;
}

.center_wrap{
    position: absolute;
    background-color: #efefef;
    top:2.5rem;
    bottom:2.5rem;
    left: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
}
.center_wrap .slide img{
    width: 100%;
}
.center_wrap .menu_con{
     margin-top: 0.5rem;
     /*padding-top: 0.6rem;*/
     height: 9.25rem;
     /*height: 8.65rem;*/
     background-color: #fff;
    overflow: hidden;
}
.center_wrap .menu{
    /*width: 19rem;*/
    height: 8.1rem;
    margin: 0.5rem 0 0;
    /*margin: 0.875rem 0 0 1.375rem;*/
}
.center_wrap .menu li{
     float: left;
     /*width: 2.8rem;*/
     width: 25%;
     height: 4.1rem;
    /*margin-right: 1.625rem;*/
}
.center_wrap .menu li a{
    display: block;
    width: 2.8rem;
    height: 2.8rem;
    margin: 0 auto;
    background: url("../images/icons.png") left -3rem no-repeat;
    background-size: 3rem 42rem;
}
.center_wrap .menu li h2{
     height: 1.3rem;
     font: 0.65rem/1.3rem 'Microsoft Yahei';
     text-align: center;
     color: #666;
}
.center_wrap .menu li:nth-child(2) a{
     background-position: left -6rem;
}
.center_wrap .menu li:nth-child(3) a{
     background-position: left -9rem;
}
.center_wrap .menu li:nth-child(4) a{
     background-position: left -12rem;
}
.center_wrap .menu li:nth-child(5) a{
     background-position: left -15rem;
}
.center_wrap .menu li:nth-child(6) a{
     background-position: left -18rem;
}
.center_wrap .menu li:nth-child(7) a{
     background-position: left -21rem;
}
.center_wrap .menu li:nth-child(8) a{
     background-position: left -24rem;
}
.footer{
    position: absolute;
    width: 100%;
    height: 2.5rem;
    background-color: #fff;
    left: 0;
    bottom:0;

}